

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f0f0f0;
    box-sizing: border-box;
} */

.container {
    text-align: center;
    background-color: white;
}

.titlu {
    margin-bottom: 30px;
    font-size: 2.5em;
    color:rgb(105,127,249)
}

.option-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}



.card-content {
    text-align: center;
}

.card input[type="radio"] {
    display: none;
}

.card label{
    display: block;
}


.card {
    border: 0.15em solid var(--blue);
    border-radius: 10px;
    width: 220px;
    height: 150px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    text-align: center;
    position: relative;
}

.card input[type="radio"] {
    display: none;
}

.card input[type="radio"]:checked~.card-content {
    background-color: var(--blue);
    color: white;
    border-radius: 10px;
    padding: 30px;
    width: 220px;
    height: 150px;
}

.card p {
    margin-top: 10px;
    font-size: 16px;
}

.icon {
    font-size: 40px;
    display: block;
}

.create-account-btn {
    background-color: var(--blue2);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}


.login-text {
    margin-top: 10px;
    font-size: 14px;
}

.login-text a {
    color: rgb(105, 127, 249);
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}
.lgn-btn{
            color: rgb(105, 127, 249);
            background: none;
            font-size: 1em;
            cursor: pointer;
}
@media screen and (max-width: 620px) {
    .option-cards {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 620px) {
    .option-cards {
        flex-direction: column;
        gap: 10px;
    }

    .card {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}
.cover-2 {
    width: 35em;
    height: 35em;
    position: relative;
    border-radius: 2em;
    border: 0.15em solid var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2em 1em;
}