.contact-container {
    display: flex;
    justify-content: center;
    
    max-width: 880px;
    margin: auto;
    margin-bottom: 50px;
  }
  
  .form-container {
    background: white;
    max-width: 100%;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-container, .title3 {
    text-align: center;
    color: #fff;
  }
  
  .contact-container , .title2 {
    color: #3b065e;
    /* margin-bottom: 20px; */
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
    height: 100px;
  }
  
  button {
    padding: 10px;
    background-color: var(--blue2);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: var(--blue);
  }
  
  .location-section iframe {
    width: 100%;
    height: 380px;
    border: 0;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
  }
  
  .social-icons a {
    font-size: 24px;
    color: #6a0066;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #8a008a;
  }
  

  .devide , .title2{
    line-height: 1;
  }

  .devide{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .devide .part{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .form-container,
  .title3{
    color: #3b065e;
    padding-bottom: 20px;
  }
  .stay-in-touch,
  .location-section,
  .subscribe-section,
  .contact-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .subs-form{
    display: flex;
    gap: 0;
    flex-direction: column;
  }