.header-wrapper{
    width: 100%;
    /* background: rgb(255, 255, 255); */
    /* max-width: 1280px;
    margin: auto; */
    margin-bottom: 30px;
    /* padding: 20px; */
    /* border-radius: 10px; */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: black;
    width: 100%;
}

.move-logo {
    display: flex;
    align-items: center; 
}

.logo-name {
    color: var(--blue);
    margin-left: 10px; 
    font-size: 2rem;
    font-weight: 600;
}

.header-menu {
    display: flex;
    gap: 2rem; 
    align-items: center;
    color: black;
}

.header-menu>*:hover {
    cursor: pointer;
    color: rgb(134, 64, 199);
}


.header-menu a{
    color: black;
}