/* General container styles */
.profile-container {
    display: flex;
    max-width: 1280px;
    margin: auto;
    background-color: #f8f9fa;
    /* padding: 20px; */
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar */
  .sidebar {
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #e0e0e0;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 15px;
    font-size: 16px;
    color: #5a5a5a;
  }
  
  .sidebar li.delete {
    color: red;
    font-weight: bold;
  }
  
  /* Profile content */
  .profile-content {
    flex-grow: 1;
    /* margin-left: 20px; */
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .profile-pic img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .profile-info p {
    margin: 5px 0;
    color: #6c757d;
  }
  
  .edit-button1 {
    background-color: var(--orange);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button1:hover {
    background-color: var(--purple);
  }

  .edit-button2{
    background-color: var(--purple);
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button2:hover {
    background-color: var(--orange);
  }
  
  /* Section styles */
  .section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .section h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }
  
  .info-block {
    display: flex;
    flex-wrap: wrap;
  }
  
  .info-row {
    width: 30%;
    margin-bottom: 10px;
  }
  
  .info-row span {
    display: block;
  }
  
  .info-row span:first-child {
    color: #6c757d;
    font-size: 14px;
  }
  