.profile-container {
  padding: 20px;
  margin: auto;
  max-width: 1000px;
}

.profile-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 10px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  flex: 0 0 100px; /* Fixed width for the profile picture */
  margin-right: 20px;
}

.profile-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.profile-info {
  flex-grow: 1;
}

.profile-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.profile-column {
  flex: 1;
  margin: 0 10px;
}

.personal-info, .services-info {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

.info-block {
  margin-top: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.info-label {
  color:#555;
}

.info-value {
  color: #555;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table th,
.info-table td {
  padding: 12px;
  text-align: left;
  color: #555;
}

.info-table th {
  background-color: #eaeaea;
}

.info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
