#title{
    color: rgb(105,127,249);
    text-align: center; 
}
 .reviews-list {
    margin-top: 30px;
  }

/*   
  .reviews-list ul {
    list-style: none;
    padding: 0;
  }
  
  .reviews-list li {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .reviews-list li:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .reviews-list li .content {
    flex-grow: 1;
  }


.reviews-list li > div {
  margin-bottom: 10px;
}

.review-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
} */
.reviews-list ul {
  list-style-type: none;
  padding: 0;
}

.reviews-list li {
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  border-left-width: 6px;
  border-left-style: solid;
  background-color: #f9f9f9;
  display: block;
}



.review-details {
  display: block; 
}

.review-main, .review-details {
  display: block;
  width: 100%;
}

.review-main p, .review-details p {
  margin: 5px 0;
}


