.cover-admin{
   width: 25em;
   height: 25em;
   position: relative;
   border-radius: 2em;
   border: 0.15em solid var(--blue);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
   padding: 2em 1em;
   background-color: white;
   margin:auto;
}
.title-admin{
   color: rgb(105,127,249);
   margin-bottom: none;
   font-size: 2em;
}
.input-admin{
   background-color: white;
   font-size: 0.8em;
   height: 1.8em;
   border: 1px solid var(--blue);
   padding: 0.5em;
   margin-top: 0.1em;
   border-radius: 0.15em;
   flex-shrink: 0;
   width: 100%;
   box-sizing: border-box;

}


.description-field-admin{
   color: rgb(53, 53, 53);
   font-size: 0.85em;
   margin-bottom: 0.08em;
   margin-top: 0.5em;
}
.login-btn-admin{
   background-color: var(--blue);
   font-size: 0.8em;
   color: white;
   width:9em;
   margin-top: 5em;
   border: none;
   border-radius: 0.5em;
   padding: 0.8em 1.5em;
   cursor: pointer;
   font-family: inherit;
}
.login-btn-admin:hover{
   background-color: var(--blue2);
}