.cover-admin{
    width: 25em;
    height: 25em;
    position: relative;
    border-radius: 2em;
    border: 0.15em solid rgb(255, 203, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding: 2em 1em;
    background-color: white;
    margin: auto;

    /* max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--orange);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
 }
 .title-admin{
    color: rgb(105,127,249);
    margin-bottom: none;
    font-size: 2em;
 }
 .input-admin{
    background-color: white;
    height: 1.5em;
    border: 1px solid rgb(198, 153, 254);
    padding: 0.5em;
    margin-top: 0.1em;
    border-radius: 0.15em;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
 
 
 }
 
 
 .description-field-admin{
    color: rgb(53, 53, 53);
    font-size: 0.85em;
    margin-bottom: 0.08em;
    margin-top: 0.5em;
 }
 .login-btn-admin{
    background-color: rgb(198, 153, 254);
    font-size: 0.7em;
    color: white;
    width:9em;
    margin-top: 5em;
 }